/*
 * Karl-Antoine Plouffe | 20218864
 * Nathan Yvars | 20249300
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Éléments généraux*/

body {
    font-family: Inter, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;

    width: 100%;
    position:absolute;
}

h1, h2 {
    margin-top: 0px;
    color: #253347;
    font-weight: 600;
}

h1 {
    font-size: 4rem;
    margin-bottom: 24px;
}

h2 {  
    font-size: 3rem;
    line-height: 53px;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 24px;
}

p {
    color: #5E6E85;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;

    margin: 0px;
}

/* Calculatrice */

#sectionCalculateur {
    background-image: linear-gradient(to left, #C3C7C4, #D6FCFE00);  

    text-align: center;

    padding-bottom: 58px;
    max-width: 100%;
}

#sectionCalculateur > .description {
    max-width: 20rem;
    padding-top: 96px;
    padding-bottom: 58px;
}

#calculatrice {    
    max-width: 20.5rem;

    border-radius: 1rem;

    margin: auto;
    padding: 24px;

    text-align: left;

    background-color: #FFFFFF;
}

#calculatrice form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.5rem;

    margin-bottom: 1.5rem;
}

#calculatrice form > div {
    display: flex;
    flex-direction: column;   
    justify-content: center; 

    margin-bottom: 2rem;
}

#calculatrice form label {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

    margin-bottom: 0.5rem;

    color: #5E6E85;
}

#h3calc {
    font-size: 24px;
    margin: 0px;
}

#valeur {
    border-radius: 12px;
    padding: 20px 24px;
    max-width: 10.25rem;

    text-align: center;

    border: 1px solid #5E6E85;

    font-weight: 600;
    font-size: 20px;
}

#startunit {
    border-radius: 12px;
    padding: 20px 24px;

    max-width: 115px;

    border: 1px solid #5E6E85;

    margin-bottom: 2rem;    

    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: -0.05em;
    text-align: left;

    color: #0F722E
}

#convertunit {
    padding: 20px 24px;

    margin-bottom: 2rem;   
    
    border: 1px solid #5E6E85;
    border-radius: 12px;

    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: -0.05em;
    text-align: left;

    color: #0F722E;

    /*
     * Flèche est verte, mais devrait être grise
     */
}

#convertunit option{
    all:initial;
    font-family: Inter, sans-serif;
}

.temp {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    letter-spacing: -0.05em;
    text-align: left;

    color: #0F722E;
}

#convertbutton{
    color: white;
    background-color: #3a6d4a;
    border: none;

    font-weight: 600;
    font-size: 13px;
    line-height: 1rem;

    border-radius: 25px;
    padding: 1px 10px;      

    max-width: 5rem;

    border: 3px solid #3A6D4A
}

#convertbutton:hover {
    background-color: #10331B;
    cursor: pointer;
}

#resultatContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    background-color: #3a6d4a;

    border: solid;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#convertresult {      
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 29px;
    text-align: justify;
    height: 150px;
    max-width: 280px;
}

/* Mobile first */

.description {
    max-width: 87%;
    margin-left: auto;
    margin-right: auto;
}

/* Comprendre les conversions */

#sectionComprendre {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
}

#sectionImage {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    border: hidden;
    border-radius: 20px;

    background-color: rgba(100, 166, 120, 0.15);
}

#sectionImage > img {
    max-height: 19.375rem;
}


/* Conversions */

#sectionConversions {
    background-color: rgba(100, 166, 120, 0.15);
    margin-bottom: 58px;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
}

#sectionConversions > .conversionContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.iconeConversion {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;

    width: 57px;
    height: 61px;
    background-color: #3A6D4A;

    border: hidden;
    border-radius: 50%;
}

#icone1 {
    margin-bottom: 42px;
}

#icone2 {
    margin-top: 50px;
    margin-bottom: 27px;
}

#icone3 {
    margin-top: 50px;
    margin-bottom: 26px;
}

/* Faits */
#sectionFaits {
    max-width: 100%;
    text-align: center;
    margin-bottom: 114px;
}

#sectionFaits > .description {
    margin-bottom: 78px;
}

#sectionFaits p {
    text-align: left;
}

#cardContainer {
    display: flex;
    flex-direction: column;

    column-gap: 1rem;

    row-gap: 1rem;

    padding-left: 0.625rem;
}

.card {    
    padding: 32px;
    border-radius: 16px;

    background: #FFFFFF;

    box-shadow: 16px 32px 56px 0px #8FAECF40;
}

.cardTitle {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    gap: 1rem;
    margin-bottom: 16px;
}

/* Tableau */
#sectionTableau {
    max-width: 100%;
    text-align: center;

    padding-top: 22px;
    padding-bottom: 63px;
    margin-bottom: 70px;

    background-image: linear-gradient(to left, #C3C7C4, #D6FCFE00);    
}

#sectionTableau > div {
    margin-bottom: 45px;
}

#sectionTableau h2 {
    margin-top: 0px;
    margin-bottom: 35px;
}

#sectionTableau > table{
    width: 91%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 24px;

    background-color: #FFFFFF;

    border: 2px hidden #F2F2F2;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 4px;
}

#sectionTableau > table th, #sectionTableau > table td {
    vertical-align: middle;
    width: 33%;
}

#sectionTableau > table th {
    font-weight: 600;
    padding: 16px; 
}

#sectionTableau > table td {    
    border-top: 2px solid #F2F2F2;
    padding: 18px 16px 18px 16px;
    text-align: left;
}

#sectionTableau > table tr:nth-child(even){
    background-color: #F2F2F2;
    box-shadow: 0px -1px 0px 0px #E6E6E6 inset;
}

#sectionTableau > table tr:nth-child(even) td:nth-child(even) {
    background-color: #9AC5A7;
    box-shadow: 0px -1px 0px 0px #E6E6E6 inset;
}

#sectionTableau > table th:last-child{
    background-color: #D8E3E7;
}

#sectionTableau > table th:nth-child(even){
    background-color: #9AC5A7;
}

#sectionTableau > table th:first-of-type{
    background-color: #0F722E;
    color: #FFFFFF;
}

 /* Vidéo complémentaire */
#sectionVideo{
    text-align: center;

    padding-bottom: 69px;

    max-width: 100%;
}

#sectionVideo h2 {    
    margin-left: auto;
    margin-right: auto;    
    margin-bottom: 35px;

    padding: 0px;

    max-width: 93%;
}

#sectionVideo p {    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 49px;

    text-align: justify;
    
    max-width: 76%;
}

#sectionVideo > video {
    width: 89%;

    aspect-ratio: 334/292;

    object-fit: fill;
}

/* Tablette */

@media screen and (min-width: 641px) {
    
}

/* Desktop */

@media screen and (min-width: 1008px) {
    
}


