/*
 * Karl-Antoine Plouffe | 20218864
 * Nathan Yvars | 20249300
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Éléments généraux*/

body {
    font-family: Inter, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

h1, h2 {
    color: #253347;
}

h2 {  
    font-size: 48px;
    font-weight: 600;
    line-height: 53px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

p {
    color: #5E6E85;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    margin: 0px;
}

/* Calculatrice */

#SectionCalculateur {
    box-sizing: border-box;
}

/* #Section1a {

}
 */
#calculatrice {
    display: grid;
    border: solid;
    border-radius: 16px;
    padding: 32px;
    grid-template-columns: 2fr 1fr 1fr 1/2fr;
    grid-template-rows: 2fr 1/4fr 2fr 2fr;
    gap: 24px;
    float: right;
}

#h1calc {
    font-weight: 600;
    font-size: 24px;
    grid-row: 1;
    grid-column: 1 / 4;
}

#valeurlab {
    font-weight: 400;
    font-size: 14px;
    grid-row: 2;
    grid-column: 1;
}

#startlab {
    font-weight: 400;
    font-size: 14px;
    grid-row: 2;
    grid-column: 2;
}

#convertlab {
    font-weight: 400;
    font-size: 14px;
    grid-row: 2;
    grid-column: 3;
}

#valeur {
    border-radius: 12px;
    padding: 20px 24px;
    grid-row: 3;
    grid-column: 1;
}

#startunit {
    width: 115px;
    height: auto;
    border-radius: 12px;
    padding: 20px 24px;
    grid-row: 3;
    grid-column: 2;
}

#convertunit{
    width: 115px;
    height: auto;
    border-radius: 12px;
    padding: 20px 24px;
    grid-row: 3;
    grid-column: 3;
}

#convertbutton{
    display: block;
    margin: auto 0;
    width: auto;
    height: 26px;
    color: white;
    background-color: #3a6d4a;
    border: none;
    font-weight: 600;
    font-size: 13px;
    border-radius: 25px;
    padding: 1px 10px;
    grid-row: 3;
    grid-column: 4;
}

#convertbutton:hover {
    background-color: #10331B;
    cursor: pointer;
}

#convertresult {
    display: flex;
    align-items: center;
    border: solid;
    padding: 32px;
    font-weight: 600;
    font-size: 32px;
    color: white;
    background-color: #3a6d4a;
    border-top-left-radius: 250px;
    border-top-right-radius: 999px;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 999px;
    grid-row: 4;
    grid-column: 1 / 5;
}

img {
    max-width: 100%;
}

/* Mobile first */

.description {
    max-width: 87%;
    margin-left: auto;
    margin-right: auto;
}

/* Faits */
#sectionFaits {
    max-width: 100%;
    text-align: center;
    margin-bottom: 114px;
}

#sectionFaits > .description {
    margin-bottom: 78px;
}

#sectionFaits p {
    text-align: left;
}

#cardContainer {
    display: flex;
    flex-direction: column;

    column-gap: 1rem;

    row-gap: 1rem;

    padding-left: 1rem;
}

.card {    
    padding: 32px;
    border-radius: 16px;

    background: #FFFFFF;

    box-shadow: 16px 32px 56px 0px #8FAECF40;
}

.cardTitle {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    gap: 1rem;
    margin-bottom: 16px;
}

/* Tableau */
#sectionTableau {
    max-width: 100%;
    text-align: center;

    padding-top: 22px;
    padding-bottom: 63px;
    margin-bottom: 70px;

    background-image: linear-gradient(to left, #C3C7C4, #D6FCFE00);    
}

#sectionTableau > div {
    margin-bottom: 45px;
}

#sectionTableau h2 {
    margin-top: 0px;
    margin-bottom: 35px;
}

#sectionTableau > table{
    width: 91%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 24px;

    background-color: #FFFFFF;

    border-collapse: collapse;
    border: 2px solid #F2F2F2;
    border-radius: 4px;
}

#sectionTableau > table th, #sectionTableau > table td {
    vertical-align: middle;
    width: 33%;
}

#sectionTableau > table th {
    font-weight: 600;
    padding: 16px; 
}

#sectionTableau > table td {    
    border-top: 2px solid #F2F2F2;
    padding: 18px 16px 18px 16px;
    text-align: left;
}

#sectionTableau > table tr:nth-child(even){
    background-color: #F2F2F2;
    box-shadow: 0px -1px 0px 0px #E6E6E6 inset;
}

#sectionTableau > table tr:nth-child(even) td:nth-child(even) {
    background-color: #9AC5A7;
    box-shadow: 0px -1px 0px 0px #E6E6E6 inset;
}

#sectionTableau > table th:last-child{
    background-color: #D8E3E7;
}

#sectionTableau > table th:nth-child(even){
    background-color: #9AC5A7;
}

#sectionTableau > table th:first-of-type{
    background-color: #0F722E;
    color: #FFFFFF;
}

 /* Vidéo complémentaire */
#sectionVideo{
    text-align: center;

    padding-bottom: 69px;

    max-width: 100%;
}

#sectionVideo h2 {    
    margin-left: auto;
    margin-right: auto;    
    margin-bottom: 35px;

    padding: 0px;

    max-width: 93%;
}

#sectionVideo p {    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 49px;

    text-align: justify;
    
    max-width: 76%;
}

#sectionVideo > video {
    /*
     *
     * À MODIFIER
     *
     */
    width: 334px;
    height: 292px;
}

/* Tablette */

@media screen and (min-width: 641px) {
    
}

/* Desktop */

@media screen and (min-width: 1008px) {
    
}


