/*
 * Karl-Antoine Plouffe | 20218864
 * Nathan Yvars | 20249300
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Éléments généraux*/

body {
    font-family: Inter, sans-serif;
    margin: 0rem;
    padding: 0rem;
    background-color: #FFFFFF;

    width: 100%;
    position:absolute;
}

h1, h2 {
    margin-top: 0rem;
    color: #253347;
    font-weight: 600;
}

h1 {
    font-size: 4rem;
    margin-bottom: 24px;
}

h2 {  
    font-size: 3rem;
    line-height: 3.313rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
}

p {
    color: #5E6E85;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;

    margin: 0rem;
}

/* Calculatrice */

#sectionCalculateur {
    background-image: linear-gradient(to left, #C3C7C4, #D6FCFE00);  

    text-align: center;

    padding-bottom: 3.625rem;
    max-width: 100%;
}

#sectionCalculateur > .description {
    max-width: 20rem;
    padding-top: 6rem;
    padding-bottom: 3.625rem;
}

#calculatrice {    
    max-width: 20.5rem;

    border-radius: 1rem;

    margin: auto;
    padding: 2rem;
    gap: 1.5rem;

    text-align: left;

    background-color: #FFFFFF;
}

#calculatrice form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.5rem;

    margin-bottom: 1.5rem;
}

#calculatrice form > div {
    display: flex;
    flex-direction: column;   
    justify-content: center; 

    margin-bottom: 2rem;
}

#calculatrice form label {
    font-size: 0.875rem;
    font-weight: 1.313rem;
    line-height: 1.313rem;
    text-align: left;

    margin-bottom: 0.5rem;

    color: #5E6E85;
}

#h3calc {
    font-size: 1.5rem;
    margin: 0rem;
}

#valeur {
    border-radius: 0.75rem;
    padding: 1.25rem 1.5px;
    max-width: 10.25rem;

    text-align: center;

    border: 0.063rem solid #5E6E85;

    font-weight: 600;
    font-size: 1.25rem;
}

#startunit {
    border-radius: 0.75rem;
    padding: 1.25rem 1.5rem;

    max-width: 7.188rem;

    border: 0.063rem solid #5E6E85;

    margin-bottom: 2rem;    

    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.816rem;
    letter-spacing: -0.05em;
    text-align: left;

    color: #0F722E
}

#convertunit {
    padding: 1.25rem 1.5rem;

    margin-bottom: 2rem;   
    
    border: 0.063rem solid #5E6E85;
    border-radius: 0.75rem;

    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.816rem;
    letter-spacing: -0.05em;
    text-align: left;

    color: #0F722E;

    /*
     * Flèche est verte, mais devrait être grise
     */
}

#convertunit option{
    all:initial;
    font-family: Inter, sans-serif;
}

.temp {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.816rem;
    letter-spacing: -0.05em;
    text-align: left;

    color: #0F722E;
}

#convertbutton{
    color: white;
    background-color: #3a6d4a;
    border: none;

    font-weight: 600;
    font-size: 0.813rem;
    line-height: 1rem;

    border-radius: 1.563rem;
    padding: 0.063rem 0.625rem;      

    max-width: 5rem;

    border: 0.188rem solid #3A6D4A
}

#convertbutton:hover {
    background-color: #10331B;
    cursor: pointer;
}

#resultatContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    background-color: #3a6d4a;

    border: solid;
    border-top-right-radius: 9.375rem;
    border-bottom-right-radius: 9.375rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#convertresult {      
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 29px;
    text-align: justify;
    height: 150px;
    max-width: 280px;
}

/* Mobile first */

.description {
    max-width: 87%;
    margin-left: auto;
    margin-right: auto;
}

/* Comprendre les conversions */

#sectionComprendre {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

#sectionImage {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;

    border: hidden;
    border-radius: 1.25rem;

    background-color: rgba(100, 166, 120, 0.15);
}

#sectionImage > img {
    max-height: 19.375rem;
}


/* Conversions */

#sectionConversions {
    background-color: rgba(100, 166, 120, 0.15);
    margin-bottom: 3.625rem;
    text-align: center;
    padding-top: 1.688rem;
    padding-bottom: 1.688rem;
}

#sectionConversions > .conversionContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.iconeConversion {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;

    width: 3.563rem;
    height: 3.813rem;
    background-color: #3A6D4A;

    border: hidden;
    border-radius: 50%;
}

#icone1 {
    margin-bottom: 2.625rem;
}

#icone2 {
    margin-top: 3.125rem;
    margin-bottom: 1.688rem;
}

#icone3 {
    margin-top: 3.125rem;
    margin-bottom: 1.625rem;
}

/* Faits */
#sectionFaits {
    max-width: 100%;
    text-align: center;
    margin-bottom: 7.125rem;
}

#sectionFaits > .description {
    margin-bottom: 4.875rem;
}

#sectionFaits p {
    text-align: left;
}

#cardContainer {
    display: flex;
    flex-direction: column;

    column-gap: 1rem;

    row-gap: 1rem;

    padding-left: 0.625rem;
}

.card {    
    padding: 2rem;
    border-radius: 1rem;

    background: #FFFFFF;

    box-shadow: 1rem 2rem 3.5rem 0rem #8FAECF40;
}

.cardTitle {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Tableau */
#sectionTableau {
    max-width: 100%;
    text-align: center;

    padding-top: 1.375rem;
    padding-bottom: 3.938rem;
    margin-bottom: 4.375rem;

    background-image: linear-gradient(to left, #C3C7C4, #D6FCFE00);    
}

#sectionTableau > div {
    margin-bottom: 2.813rem;
}

#sectionTableau h2 {
    margin-top: 0rem;
    margin-bottom: 2.188rem;
}

#sectionTableau > table{
    width: 91%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;

    background-color: #FFFFFF;

    border: 0.125rem hidden #F2F2F2;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 0.25rem;
}

#sectionTableau > table th, #sectionTableau > table td {
    vertical-align: middle;
    width: 33%;
}

#sectionTableau > table th {
    font-weight: 600;
    padding: 1rem; 
}

#sectionTableau > table td {    
    border-top: 0.125rem solid #F2F2F2;
    padding: 1.125rem 1rem 1.125rem 1rem;
    text-align: left;
}

#sectionTableau > table tr:nth-child(even){
    background-color: #F2F2F2;
    box-shadow: 0px -0.063rem 0px 0px #E6E6E6 inset;
}

#sectionTableau > table tr:nth-child(even) td:nth-child(even) {
    background-color: #9AC5A7;
    box-shadow: 0px -0.063rem 0px 0px #E6E6E6 inset;
}

#sectionTableau > table th:last-child{
    background-color: #D8E3E7;
}

#sectionTableau > table th:nth-child(even){
    background-color: #9AC5A7;
}

#sectionTableau > table th:first-of-type{
    background-color: #0F722E;
    color: #FFFFFF;
}

 /* Vidéo complémentaire */
#sectionVideo{
    text-align: center;

    padding-bottom: 4.313rem;

    max-width: 100%;
}

#sectionVideo h2 {    
    margin-left: auto;
    margin-right: auto;    
    margin-bottom: 2.188rem;

    padding: 0px;

    max-width: 93%;
}

#sectionVideo p {    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.063rem;

    text-align: justify;
    
    max-width: 76%;
}

#sectionVideo > video {
    width: 89%;

    aspect-ratio: 334/292;

    object-fit: fill;
}

/* Tablette */

@media screen and (min-width: 641px) {
    
}

/* Desktop */

@media screen and (min-width: 1008px) {
    
}


